@import "../../variables.scss";


.container{
    background-color: #ffffff;
    margin: 9.375em auto;
    width:50em;
    height: 38em;
    border-radius: 20px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    .left{
        padding: 1em 3em;

        .header{
            text-align: left;
            margin-bottom: 1.8em;
            h1{
                font-family: Poppins;
                color: $primary;
                font-size: 24px;
                font-weight: 'semi-bold';
        }
        p{
            color: $secondary;
            font-family: sans-serif;
            font-style: italic;
            font-size: 18px;
        }
        span{
            display: block;
            }
        }
    
        .form{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1.28em;
            .tc{
                margin-bottom: 5em;
                display: grid;
                grid-template-columns: auto 95%;
                align-items: center;
                input[type="checkbox"] {
                    background-color: rgba(197, 211, 232, 0.1);
                    border: 2px solid #C5D3E8;
                    border-radius: 6px;
                    opacity: 0.6000000238418579;
                    height:1.5em;
                    width:1.5em;
                }
                font-size: 14px;
                color:$secondary;
                font-family: sans-serif;
                span{
                    color:$primary
                }
            }

            .submit{
                background-image: linear-gradient(135deg, #2B2ECF 0%, #652BCF 100%);
                border-radius: 1.8em;
                text-align: left;
                color:#ffffff;
                font-size: 14px;
                // height: 3.3em;
                font-family: 'Open Sans';
                padding:1.2em 1.8em;
                font-weight: bold;
                // line-height: 20px;
                display: flex;
                opacity: .5;
                justify-content: space-between;
            }
        }
}


.right{
    background: url("../../Assets/Hero/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
}